# General
node_modules/
.vscode/
dist/
*.log
*.pid

# Env files
.env
.env.*
!.env.example
!.env.*.example
apps/*/.env
apps/*/.env.*
!apps/*/.env.example
!apps/*/.env.*.example

# Docker
Dockerfile*
docker-compose*
.dockerignore

# Kubernetes (optional)
*.yaml
*.yml

# Secrets
secrets/
*.secret
*.secrets
*.key
*.pem
*.crt
*.pfx
*.p12

# Scripts
*.sh
*.load-test.js
